.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative; // To adjust controls vertically
  margin-bottom: 5.9rem;
  
  &__cards {
    max-height: 43.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 5.3rem;
    overflow: hidden;
    padding-bottom: 2rem;
    
    &--two-row {
      max-height: 90rem;
      margin: 0;

      @include respond(tab-land) {
        max-height: 135rem
      }
    }
    
    @include respond(tab-land) {
      justify-content: space-evenly;
      margin: 0 1.2rem;
    }
  }

  @include respond(tab-port) {
    margin-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  background-color: $color-light-s;
  text-align: center;
  padding-bottom: 3rem;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 3rem;
  flex-shrink: 0;
  
  transition: background-color .2s,
              box-shadow .2s;
  
  &__name {
    margin: 2.8rem 0 3rem 0;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: $color-dark-l;
    letter-spacing: .06em;
  }
  
  &:hover {
    background-color: $color-light-xl;
    box-shadow: 0 0 20px #0005;
  }
}

.btn {
  padding: 1.3rem 4.28rem;
  background-color: $color-light-xl;
  border-radius: 10rem;
  border: 2px solid $color-primary;
  display: inline-block;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: .06em;
  color: $color-dark-3xl;
  
  transition: background-color .3s, border .3s;
  
  &--responsive {
    align-self: flex-start;
    
    @include respond(tab-land) {
      align-self: center;
    }
  }
  
  
  &--small {
    padding: 1.3rem 1.5rem;
    font-weight: 900;
  }
  
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
  
  &--disabled {
    border: 2px solid $color-dark-s;
    color: $color-dark-s;
    pointer-events: none;
  }
  
  &--dark {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    color: $color-dark-3xl;
  }
  
  &--nav {
    width: 5.2rem;
    height: 5.2rem;
  }
}

.swiper-container {
  width: 600px;
  height: 300px;
}