.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;

  &--sticky {
    position: fixed;
    top: 0;
    margin: 0 auto;
    max-width: 128rem;
    padding: 3rem 4rem;
  }

  &--light {
    background-color: $color-light-xl;
  }
}

.header-offset {
  height: 12rem;
}

.logo {
  text-align: center;
  
  &__title {
    font-family: Georgia, serif;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: .06em;
    color: $color-primary;
    margin-bottom: 1rem;
    
    &--dark {
      color: $color-dark-l;
    }
  }
  
  &__subtitle {
    font-size: 1.3rem;
    letter-spacing: .1em;
    color: $color-light-xl;
    
    &--dark {
      color: $color-dark-3xl;
    }
  }
}

.nav {
  max-width: 44.3rem;
  margin-bottom: .5rem;
  
  &__items {
    display: flex;
    justify-content: space-between;
    width: 44.3rem;
    position: relative;
  }
  
  &__item {
    &--about:hover ~ .nav__underline {
      left: 0;
      width: 25%;
    }
    
    &--pets:hover ~ .nav__underline {
      left: 33.7%;
      width: 13%;
    }
    
    &--help:hover ~ .nav__underline {
      left: 54.7%;
      width: 23.5%;
    }
    
    &--contacts:hover ~ .nav__underline {
      left: 87%;
      width: 12.5%;
    }
  }
  
  &__link {
    color: $color-dark-s;
    font-size: 1.5rem;
    line-height: 150%;
    transition: .3s;
    
    &--dark {
      color: $color-dark-l;
    }
    
    &--active {
      color: $color-light-s;
    }
    
    &--dark.nav__link--active {
      color: $color-dark-3xl;
    }
    
    &:hover {
      color: $color-light-s;
      
      &.nav__link--dark {
        color: $color-dark-3xl;
      }
    }
  }
  
  &__underline {
    position: absolute;
    left: 0;
    bottom: -.42rem;
    height: .3rem;
    background-color: $color-primary;
    width: 25%;
    border: none;
    transition: .3s ease-in-out;
    
    &--pets {
      left: 33.7%;
      width: 13%;
    }
  }
}

.footer {
  background-image: url("../../assets/images/noise_transparent.png"), linear-gradient(to right bottom, #513D2F, #1A1A1C);
  background-repeat: repeat;
  width: 100%;
  
  &__content {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__articles {
    display: flex;
    justify-content: space-between;
    margin-right: 16rem;
    width: 100%;
    @include respond(tab-land) {
      justify-content: space-around;
      width: 100%;
    margin-right: 0;
    }
  }
  
  &__article {
    margin-top: 1.6rem;
    
    &--shifted {
      margin-left: -.5rem;
    }
  }
  
  &__heading {
    margin-bottom: 3.6rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: .06em;
    color: $color-light-xl;
    
    &--contacts {
      margin-bottom: 4rem;
      
    }
  }
  
  &__figure {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    
    &--location {
      margin-bottom: 3.2rem;
    }
  }
  
  &__caption {
    margin-left: 2rem;
    display: block;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    color: $color-primary;
  }
}