/*==SIZES==*/
$global-width: 1280px;
$content-width: 1200px;
/*=========*/

/*==COLORS==*/
$color-primary:       #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl:      #FFF;
$color-light-l:       #F6F6F6;
$color-light-s:       #FAFAFA;
$color-dark-s:        #CDCDCD;
$color-dark-m:        #B2B2B2;
$color-dark-l:        #545454;
$color-dark-xl:       #4C4C4C;
$color-dark-3xl:      #292929;
/*=========*/


html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  width: $global-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: $content-width;
  margin: 0 auto;
}

/*===NOT ONLY BLOCK===*/
.start {
  width: 100%;
  height: 908px;
  background-image: url("../assets/start-screen-gradient-background.png");
  
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
  }
  
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.1rem;
  }
  
  &__article {
    width: 46rem;
    margin-bottom: 8.3rem;
  }
  
  &__heading {
    width: 31rem;
    margin-bottom: 4.2rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    line-height: 130%;
    color: $color-light-xl;
  }
  
  &__paragraph {
    margin-bottom: 4.1rem;
    
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-s;
  }
}

.logo {
  text-align: center;
  
  &__title {
    font-family: Georgia, serif;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: .06em;
    color: $color-primary;
    margin-bottom: 1rem;
  }
  
  &__subtitle {
    font-size: 1.3rem;
    letter-spacing: .1em;
    color: $color-light-xl;
  }
}

.nav {
  width: 44.3rem;
  margin-bottom: .5rem;
  
  &__items {
    display: flex;
    justify-content: space-between;
    width: 44.3rem;
    position: relative;
  }
  
  &__item {
    &--pets:hover ~ .nav__underline {
      left: 33.7%;
      width: 12.5%;
    }
    
    &--help:hover ~ .nav__underline {
      left: 54.7%;
      width: 23.5%;
    }
    
    &--contacts:hover ~ .nav__underline {
      left: 87%;
      width: 12.5%;
    }
  }
  
  &__link {
    color: $color-dark-s;
    font-size: 1.5rem;
    line-height: 150%;
    transition: .3s;
    
    &--active {
      color: $color-light-s;
    }
    
    &:hover {
      color: $color-light-s;
    }
  }
  
  &__underline {
    position: absolute;
    left: 0;
    bottom: -.42rem;
    height: .1rem;
    background-color: $color-primary;
    width: 25%;
    transition: .3s ease-in-out;
  }
}

.btn {
  padding: 1.3rem 4.28rem;
  background-color: $color-light-xl;
  border-radius: 10rem;
  border: 2px solid $color-primary;
  display: inline-block;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: .06em;
  color: $color-dark-3xl;
  
  transition: .3s;
  
  &--dark {
    background-color: $color-primary;
  }
  
  &--small {
    padding: 1.3rem 1.5rem;
    font-weight: 900;
  }
  
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
}

.heading-m {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: .06em;
  color: $color-dark-l;
}

.about {
  background-color: $color-light-xl;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
  
  &__img {
    margin-right: 12rem;
  }
  
  &__article {
    width: 43rem;
    margin-bottom: -.5rem;
  }
  
  &__heading {
    width: 37rem;
  }
  
  &__paragraph {
    margin-top: 2.5rem;
    
    font-size: 1.5rem;
    line-height: 170%;
    color: $color-dark-xl;
  }
}

.pets {
  background-color: $color-light-l;
  
  &__heading {
    width: 40rem;
    margin: 0 auto 6rem auto;
  }
  
  &__content {
    margin-top: 8rem;
    margin-bottom: 10.1rem;
    text-align: center;
  }
  
  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }
  
  &__arrow {
    &--left {
      margin-right: .8rem;
    }
    &--right {
      margin-left: .8rem;
    }
  }
  
  &__card {
    background-color: $color-light-s;
    text-align: center;
    padding-bottom: 3rem;
    border-radius: 9px;
    overflow: hidden;
    margin: 0 4.5rem;
    
    transition: .2s;
    
    &:hover {
      background-color: $color-light-xl;
    }
  }
  
  &__name {
    margin: 3rem 0;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: $color-dark-l;
    letter-spacing: .06em;
  }
}

.help {
  background-color: $color-light-xl;
  
  &__content {
    text-align: center;
    margin: 8rem auto 4.9rem auto;
    padding-top: .2rem;
  }
  
  &__heading {
    width: 31rem;
    margin: 0 auto 5.8rem auto;
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__figure {
    margin: 0 6rem 5.4rem 6rem;
  }
  
  &__caption {
    margin-top: 3rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    color: $color-dark-l;
  }
}

.donation {
  background-color: $color-light-l;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 10.3rem;
  }
  
  &__article {
    width: 38rem;
    margin-left: 3rem;
    
    color: $color-dark-l;
  }
  
  &__heading {
    width: 30rem;
    margin-bottom: 2rem;
  }
  
  &__subheading {
    margin-bottom: 2rem;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: .06em;
  }

  &__bank {
    background-color: $color-primary;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
  }

  &__number {
    margin-left: 1.5rem;
    white-space: nowrap;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
  }

  &__legal {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 150%;
    color: $color-dark-m;
  }
}

.footer {
  background-image: url("../assets/footer-gradient-background.png");

  &__content {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__article {
    margin-top: 1.6rem;

    &--shifted {
      margin-left: -.5rem;
    }
  }

  &__heading {
    margin-bottom: 3.6rem;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: .06em;
    color: $color-light-xl;

    &--contacts {
    margin-bottom: 4rem;

    }
  }

  &__figure {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;

    &--location {
      margin-bottom: 3.2rem;
    }
  }

  &__caption {
    margin-left: 2rem;
    display: block;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    color: $color-primary;
  }
}