@import "sass/reset";
@import "sass/colors";
@import "sass/variables";
@import "sass/mixins";
@import "sass/base";
@import "sass/layout";
@import "sass/components";

/*===NOT ONLY BLOCK===*/
.start {
  width: 100%;
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  background-size: cover;
  padding-top: 3rem;
  overflow: hidden;
  
  @include respond(tab-land) {
    padding-top: 0;
  }
  
  &__main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.1rem;
    
    @include respond(tab-land) {
      flex-direction: column;
    }
  }
  
  &__article {
    width: 46rem;
    margin-bottom: 8.3rem;
    
    display: flex;
    flex-direction: column;
    
    @include respond(tab-land) {
      margin-bottom: 10rem;
    }
    
    @include respond(tab-port) {
      align-items: center;
      width: 100%;
    }
  }
  
  &__heading {
    width: 31rem;
    margin-bottom: 4.2rem;
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 4.4rem;
    line-height: 130%;
    color: $color-light-xl;
    
    @include respond(tab-port) {
      text-align: center;
      font-size: 2.5rem;
      letter-spacing: .06em;
    }
  }
  
  &__paragraph {
    margin-bottom: 4.1rem;
    
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-s;
    
    @include respond(tab-port) {
      text-align: center;
    }
  }
  
  &__img {
    @include respond(tab-land) {
      align-self: flex-end;
      width: 70vw;
    }
    
    @include respond(tab-port) {
      width: 80vw;
    }
  }
}

.heading-m {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: .06em;
  color: $color-dark-l;
  
  @include respond(tab-port) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.about {
  background-color: $color-light-xl;
  width: 100%;
  
  &__wrapper {
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 10rem;
    
    @include respond(tab-land) {
      flex-direction: column;
    }
    
    @include respond(tab-port) {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }
  
  &__img {
    margin-right: 12rem;
    
    @include respond(tab-land) {
      margin-top: 8rem;
      margin-right: 0;
      order: 1;
    }
    
    @include respond(tab-port) {
      margin-top: 4rem;
      width: 26rem;
    }
  }
  
  &__article {
    width: 43rem;
    
    @include respond(tab-port) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: justify;
    }
  }
  
  &__heading {
    max-width: 37rem;
  }
  
  &__paragraph {
    margin-top: 2.5rem;
    
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-xl;
  }
}

.pets {
  background-color: $color-light-l;
  width: 100%;
  
  &__heading {
    width: 40rem;
    margin: 0 auto 6rem auto;
    
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
  
  &__content {
    margin-top: 8rem;
    margin-bottom: 10rem;
    text-align: center;
    
    @include respond(tab-land) {
      margin-bottom: 7.6rem;
    }
    
    @include respond(tab-port) {
      margin: 4rem 0;
    }
  }
  
  &__arrow {
    position: relative;
    
    @include respond(tab-port) {
      order: 1;
      bottom: 0;
      margin-top: 2rem;
    }
  }
}

.help {
  background-color: $color-light-xl;
  width: 100%;
  
  &__content {
    text-align: center;
    margin-top: 7.8rem;
    margin-bottom: 4.6rem;
    padding-top: .2rem;
    
    @include respond(tab-port) {
      margin-top: 4rem;
    }
  }
  
  &__heading {
    max-width: 31rem;
    margin-bottom: 5.8rem;
    
    @include respond(tab-port) {
      margin-bottom: 4.2rem;
    }
  }
  
  &__icons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @include respond(tab-land) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 6rem;
      row-gap: 5.5rem;
      margin-bottom: 10rem;
    }
    
    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
      column-gap: 3rem;
      row-gap: 3rem;
      margin-bottom: 4.2rem;
    }
  }
  
  &__figure {
    margin: 0 6rem 5.4rem 6rem;
    position: relative;
    @include respond(tab-land) {
      margin: 0;
      padding-bottom: 5.3rem;
    }
    
    @include respond(tab-port) {
      margin: 0;
      padding-bottom: 3.3rem;
    }
  }
  
  &__icon {
    @include respond(tab-port) {
      width: 5rem;
    }
  }
  
  &__caption {
    margin-top: 3rem;
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    color: $color-dark-l;
    
    @include respond(tab-land) {
      margin: 0;
      position: absolute;
      white-space: nowrap;
      bottom: .2rem;
      left: 50%;
      transform: translateX(-50%);
    }
    
    @include respond(tab-port) {
      font-size: 1.5rem;
      line-height: 110%;
    }
  }
}

.donation {
  background-color: $color-light-l;
  width: 100%;
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 10.3rem;
    
    @include respond(tab-land) {
      flex-direction: column;
    }
    
    @include respond(tab-port) {
      margin-top: 4.1rem;
    }
  }
  
  &__img {
    @include respond(tab-port) {
      width: 80vw;
    }
  }
  
  &__article {
    width: 38rem;
    margin-left: 3rem;
    
    @include respond(tab-land) {
      order: -1;
      margin-bottom: 6rem;
      margin-left: 0;
    }
    
    @include respond(tab-port) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    color: $color-dark-l;
  }
  
  &__heading {
    width: 30rem;
    margin-bottom: 2rem;
  }
  
  &__subheading {
    margin-bottom: 2rem;
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: .06em;
    
    @include respond(tab-port) {
      letter-spacing: 0;
    }
  }
  
  &__bank {
    background-color: $color-primary;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
    transition: background-color .3s;

    &:hover {
      background-color: $color-primary-light;
    }
  }
  
  &__number {
    margin-left: 1.5rem;
    white-space: nowrap;
    
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    
    @include respond(tab-port) {
      font-size: 1.5rem;
      line-height: 110%;
    }
  }
  
  &__legal {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 150%;
    color: $color-dark-m;
    
    @include respond(tab-port) {
      text-align: justify;
      max-width: 38rem;
    }
  }
}

.btn-section {
  display: flex;
  width: 34rem;
  justify-content: space-between;
  
  @include respond(tab-port) {
    width: 30rem;
  }
}