@import "sass/reset";
@import "sass/colors";
@import "sass/variables";
@import "sass/mixins";
@import "sass/base";
@import "sass/layout";
@import "sass/components";

/*===NOT ONLY BLOCK===*/
.start {
  width: 100%;
  background-image: url("../../assets/images/start-screen-gradient-background.png");
  background-size: cover;
  padding-top: 3rem;

  @include respond(tab-land) {
    padding-top: 0;
  }
  
  &__main {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.1rem;

    @include respond(tab-land) {
      flex-direction: column;
      padding: 0 6rem;
    }
  }
  
  &__article {
    width: 46rem;
    margin-bottom: 8.3rem;

    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      margin-bottom: 10rem;
    }
    }
  
  &__heading {
    width: 31rem;
    margin-bottom: 4.2rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4.4rem;
    line-height: 130%;
    color: $color-light-xl;
  }
  
  &__paragraph {
    margin-bottom: 4.1rem;
    
    font-size: 1.5rem;
    line-height: 160%;
    color: $color-dark-s;
  }

  &__img {
    @include respond(tab-land) {
      position: relative;
      left: 7rem;
    }
  }
}

.heading-m {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: .06em;
  color: $color-dark-l;
}

.about {
  background-color: $color-light-xl;
  width: 100%;
  
  &__wrapper {
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 10rem;

    @include respond(tab-land) {
      flex-direction: column;
    }
  }
  
  &__img {
    margin-right: 12rem;

    @include respond(tab-land) {
      margin-top: 8rem;
      margin-right: 0;
      order: 1;
    }
  }
  
  &__article {
    width: 43rem;
    margin-bottom: -.5rem;
  }
  
  &__heading {
    width: 37rem;
  }
  
  &__paragraph {
    margin-top: 2.5rem;
    
    font-size: 1.5rem;
    line-height: 170%;
    color: $color-dark-xl;
  }
}

.pets {
  background-color: $color-light-l;
  width: 100%;

  
  &__heading {
    width: 40rem;
    margin: 0 auto 6rem auto;
  }
  
  &__content {
    margin-top: 8rem;
    margin-bottom: 10.1rem;
    text-align: center;
  }
  
  &__arrow {
    position: relative;
    bottom: 3rem;
  }
}

.help {
  background-color: $color-light-xl;
  
  &__content {
    text-align: center;
    margin: 8rem auto 4.9rem auto;
    padding-top: .2rem;
  }
  
  &__heading {
    width: 31rem;
    margin: 0 auto 5.8rem auto;
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  &__figure {
    margin: 0 6rem 5.4rem 6rem;
  }
  
  &__caption {
    margin-top: 3rem;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
    color: $color-dark-l;
  }
}

.donation {
  background-color: $color-light-l;
  width: 100%;
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 10.3rem;
  }
  
  &__article {
    width: 38rem;
    margin-left: 3rem;
    
    color: $color-dark-l;
  }
  
  &__heading {
    width: 30rem;
    margin-bottom: 2rem;
  }
  
  &__subheading {
    margin-bottom: 2rem;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: .06em;
  }

  &__bank {
    background-color: $color-primary;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
  }

  &__number {
    margin-left: 1.5rem;
    white-space: nowrap;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: .06em;
  }

  &__legal {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 150%;
    color: $color-dark-m;
  }
}

.btn-section {
  display: flex;
  width: 34rem;
  justify-content: space-between;
}