@import "reset";

html {
  font-size: 62.5%;
  font-family: "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  // text-shadow: 0 .3rem 2rem #000;
}

body {
  user-select: none;
  background-color: black;
  position: relative;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  transition: all 1s;

  &__bottom {
    flex-basis: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
  }

  &__time {
    font-size: 13rem;
    line-height: 90%;
  }

  &__date {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  &__greeting {
    font-size: 5rem;
  }

  &__cite {
    font-size: 1.7rem;
  }
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: 3rem;
  }

  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-bottom: .3rem;
  }
}