@import "reset";

html {
  font-size: 62.5%;
  font-family: "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 .3rem 3rem #000;
}

body {
  user-select: none;
  background-color: black;
  position: relative;
  z-index: -3;
  height: 100vh;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  position: relative;
  z-index: -2;
  transition: all 1s;
  
  &__overlay {
    background-image: url('assets/images/overlay.png');
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  &__time {
    font-size: 13rem;
    line-height: 90%;
    text-shadow: 0 0.3rem 4rem #000;
  }
  
  &__date {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  
  &__greet {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  &__name {
    display: inline-block;
    outline: none;
    margin-left: .5rem;
    font-size: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: .3rem;
    min-width: 0;
    transition: min-width .7s, background-color .3s, border-bottom .7s;
    border-radius: 3px;

    &:hover {
      background-color: #FFF4;
    }

    &:focus {
      min-width: 15rem;
      border-bottom: 2px solid white;
    }

    &::selection {
      background-color: #FFF7;
    }
  }

  &__punctuation {
    font-size: inherit;
  }
  
  &__bottom {
    flex-basis: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 1px auto;
    text-align: right;
    max-width: 70%;
    opacity: 0;
    position: relative;
    transition: opacity 1s;
  }

  &__quote {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    text-align: center;
  }
  
  &__author {
    font-size: 1.5rem;
  }

  &__requote {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    right: -4rem;
    transform: translateY(-50%);
    width: 3.3rem;
    height: 3.3rem;

    border: none;
    border-radius: 100%;
    background: transparent;
    outline: none;
    cursor: pointer;

    font-family: 'Material Icons';
    color: white;
    font-size: 3rem;

    transition: background-color .3s;

    &:hover {
      background-color: #FFF4;
    }
  }
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  
  &__heading {
    margin-bottom: 1.5rem;
  }
  
  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    padding-bottom: .3rem;
    max-width: 35.2rem;
  }

  &__editable {
    outline: none;
    border-bottom: 2px solid transparent;
    padding-bottom: .2rem;
    min-width: 0;
    transition: min-width .7s, background-color .3s, border-bottom .7s;
    border-radius: 3px;

    &:hover {
      background-color: #FFF4;
    }

    &:focus {
      border-bottom: 2px solid white;
      min-width: 20rem;
    }

    &::selection {
      background-color: #FFF7;
    }
  }
}

.tooltiptext {
  font-family: "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}