@import "reset";

html {
  font-size: 62.5%;
  font-family: "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-shadow: 0 .3rem 3rem #000;
}

body {
  user-select: none;
  background-color: black;
  position: relative;
  z-index: -3;
  height: 100vh;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  position: relative;
  z-index: -2;
  transition: all 1s;
  
  &__overlay {
    background-image: url('assets/images/overlay.png');
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  &__bottom {
    flex-basis: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 1px auto;
    text-align: right;
  }
  
  &__time {
    font-size: 13rem;
    line-height: 90%;
    text-shadow: 0 0.3rem 4rem #000;
  }
  
  &__date {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  
  &__greetDiv:hover .main__icon {
    display: flex;
  }
  
  &__greeting {
    display: inline-block;
    position: relative;
    font-size: 5rem;
  }
  
  &__icon {
    font-family: 'Material Icons';
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
    right: -3rem;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    
    &:hover {
      background-color: #FFF6;
    }
  }
  
  &__quote {
    font-size: 1.7rem;
    margin-bottom: .5rem;
  }
  
  &__author {
    font-size: 1.5rem;
  }
}

.focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
  
  &__input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-bottom: .3rem;
    max-width: 35.2rem;
  }
}