@import "reset";

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 2rem;
}

.text-input {
  width: 100%;
  resize: none;
  font-size: 2rem;
  padding: 1rem;
  height: 50vh;
  border: 2px solid black;
  border-radius: 3px;
}

.keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #5f2699, #024a9c);
  width: 100%;
  box-shadow: 0 -1.5rem 3rem rgba(0, 0, 0, .25);
  transition: bottom .5s;
  
  &__keys {
    text-align: center;
    padding: .5rem 0;
    user-select: none;
  }
  
  &__key {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 6%;
    max-width: 9rem;
    background-color: #FFF5;
    border-radius: .5rem;
    position: relative;
    margin: .3rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
    vertical-align: top;
    -webkit-tap-highlight-color: transparent;
    transition: background-color .1s,
    transform .1s;
    
    &--large {
      width: 12%;
      max-width: 15rem;
    }
    
    &--space {
      width: 36%;
      max-width: 40rem;
    }
    
    &--toggle {
      &:after{
        content: '';
        width: 5px;
        height: 5px;
        background-color: #333;
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    &--pressed {
      background-color: #FFFA;
      transform: scale(.93);
    }
    
    &--active {
      &:after{
        background-color: #FFF;
        box-shadow:0 0 .5rem #FFF;
      }
    }
    
    &--dark {
      background-color: #992699;
    }
    
    &:active {
      background-color: #FFFA;
      transform: scale(.93);
    }
  }
  
  &--hidden {
    bottom: -50%;
  }

}