* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SIZES
$button-dim: 70px;
$gap: 10px;
$disp-height: 150px;

//COLORS
$colors: (
  btn-num: #333333,
  btn-op: #fe9505,
  btn-service: #a5a5a5,
  btn-num-light: lighten(#333333, 10%),
  btn-op-light: lighten(#fe9505, 10%),
  btn-service-light: lighten(#a5a5a5, 10%)
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(39, 39, 39);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.main {
  background-color: black;
  width: $button-dim * 4 + $gap * 5;
  height: $disp-height + $gap * 6 + $button-dim * 5;
  padding: 0 $gap $gap $gap;
  margin: auto;
  border-radius: 45px;
}

.display {
  height: $disp-height;
  font-size: 2em;
  color: white;
  padding: $gap $gap 0 $gap;
  margin-bottom: $gap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__prev {
    text-align: right;
    font-size: .9em;
    color: #aaa;
  }

  &__cur {
    text-align: right;
    font-size: 1.1em;
  }
}

.overline {
  text-decoration: overline;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  
  &__btn {
    border-radius: 50%;
    background-color: color(btn-num);
    width: $button-dim;
    height: $button-dim;
    transition: background-color 200ms ease-in-out,
                transform 70ms ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }

    &--num {
      background-color: color(btn-num);
      color: white;

      &:hover {
        background-color: color(btn-num-light);
      }
    }

    &--service {
      background-color: color(btn-service);

      &:hover {
        background-color: color(btn-service-light);
      }
    }

    &--op {
      background-color: color(btn-op);
      color: white;

      &:hover {
        background-color: color(btn-op-light);
      }
    }
  }
}