@import "assets/sass/abstracts/variables";
@import "assets/sass/base/reset";
@import "assets/sass/base/base";

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  background-color: teal;
  justify-content: space-around;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding: .5rem 0;

  position: relative;

  &__container {
    position: relative;
    flex-basis: 20%;
  }
  
  &__button {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    position: absolute;
    right: 0;
    white-space: nowrap;
    
    &:hover {
      color: salmon;
      border-bottom: 2px solid salmon;
    }
  }
}

.field {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: $field-gap;

  width: $field;
  height: $field;
  padding: .5rem;

  border-radius: 5px;
  box-shadow: 0 .5rem 1rem #0006;
  overflow: hidden;
  
  &__chip {
    background-color: thistle;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translate(0, 0);
    transition: transform $chip-transition;
    
    &:hover {
      background-color: lighten(thistle, 7);
    }
    
    &--blank {
      z-index: -1;
      background-color: transparent;
      cursor: auto;
      
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff7;
  backdrop-filter: blur(1.5px);
  opacity: 0;

  transition: background-color .5s cubic-bezier(1,.03,.83,.67), opacity .3s;

  &__nav {
    height: 100%;
    display: flex;
    align-items: center;

    opacity: 0;
    transition: opacity .3s;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
  }

  &__item {
    position: relative;
  }

  &__button {
    position: relative;
    top: 0;

    font-size: 2.5rem;
    color: $rose;

    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding-bottom: .2rem;
    transition: border-bottom .3s, top .2s, transform .2s, color .3s;

    &:hover {
      color: $light-rose;
      border-bottom: 2px solid $light-rose;
    }

    &:active {
      top: 4px;
      transform: scale(.95);
    }
  }

  &__sub {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    color: $rose;

    opacity: 0;
    transition: opacity .3s;
  }

  &__header {
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 2rem;
  }
}